<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MSP Restaurant Survival</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheeets/main.css">
    <script src="https://use.fontawesome.com/a3d92675df.js"></script>
</head>
<body>

<div class="container title-cont">
  <div class="jumbotron">
      <h1><a href="/">Welp <i class="fa fa-cutlery" aria-hidden="true"></i></a></h1>
      <h5>Your source for info on MSP restaurants still operating during coronavirus crisis</h4>
      <p><a href="/restaurants/new" class="btn btn-large btn-primary">Add Your Restaurant</a> </p>
  </div>
</div>
